body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#messages {
    width: 30%;
    margin: auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    height: 400px;
    position: fixed;
    bottom: 80px;
    right: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}

#messages-header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    background-color: #0d1661;
    color: white;
    margin: 0;
}

#messages-content {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;

}

#input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    padding:0;
    margin:0;
    border-top: 1px solid #ccc;
    flex-wrap: wrap;
}

#message {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    border-right:none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-color: #0d1661;
    min-width: 0;
    box-sizing: border-box;
    #flex-shrink: 0;
}

#send {
    padding: 10px 20px;
    border-color: #ff5100;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
    background-color: #fff;
    color: #0d1661;
    cursor: pointer;
    margin:0;
    flex-shrink: 0;
    box-sizing: border-box;
}

#send:hover {
    background-color: #FFA500;
    color: white;
}

.message {
    display: flex;
    margin-bottom: 20px;
}

.bot-message {
    justify-content: flex-start;
    color: #0d1661;
}

.user-message {
    justify-content: flex-end;
    color: #ff5100;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.user-message .message-content {
    background-color: #e0e0de;
}

.bot-message .message-content {
    background-color: #f1f1f1;
}

.options {
    margin-top: 10px;
}

.option-button {
    background-color: #fff;
    color: #0d1661;
    border-color: #ff5100;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.option-button:hover {
    background-color: #FFA500;
    color: white;
}
#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.tooltip {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: linear-gradient(to right, #0d1661, #2d488a);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: block;
}
